<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate class="needs-validation">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control" type="text" placeholder="Nombre" name="nombre" [ngModel]="usuario.nombre" required
          minlength=" {{ parametro.cantidadMinimaCaracteres }} " #edtNombre="ngModel">
          <div *ngIf="edtNombre.errors?.required" class="invalid-feedback">
            Este campo es requerido
          </div>
          <div *ngIf="edtNombre.errors?.minlength" class="invalid-feedback">
            Por lo menos {{ edtNombre.errors.minlength.requiredLength }} caracteres
          </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control" type="text" placeholder="Apellido" name="apellido" [ngModel]="usuario.apellido"
          required minlength=" {{ parametro.cantidadMinimaCaracteres }} " #edtApellido="ngModel">
          <div *ngIf="edtApellido.errors?.required" class="invalid-feedback">
              Este campo es requerido
            </div>
            <div *ngIf="edtApellido.errors?.minlength" class="invalid-feedback">
              Por lo menos {{ edtApellido.errors.minlength.requiredLength }} caracteres
            </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control" type="email" placeholder="Correo electrónico" name="email" [ngModel]="usuario.email"
        required minlength=" {{ parametro.cantidadMinimaCaracteres }} " pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #edtEmail="ngModel">
        <div *ngIf="edtEmail.errors?.required" class="invalid-feedback">
            Este campo es requerido
          </div>
          <div *ngIf="edtEmail.errors?.pattern" class="invalid-feedback">
            Debe digitar un correo válido.
          </div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>
